/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,html{
  overflow-x:hidden;
}
body {
font-family: 'Merriweather', serif;
  overflow-x: hidden !important;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{ 
  text-decoration: none;
  color: #2f2f2f;
  
}
a:focus{
  outline: none;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Varela', sans-serif;	
}

h2 {
  color: #313338;  
  font-family: Comic Sans MS;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;  
}
img{
 border:none;
}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#000; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(img/status.GIF); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*scrol to top*/

.scrollToTop {
  background: url("img/bootom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
  border: 3px solid #f0f1f3;
  border-radius: 5px;
  bottom: 20px;
  display: inline-block;
  height: 54px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 54px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}
.scrollToTop:hover{
  background-position: 13px -50px;  
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* HOME HEADER */
/*--------------------*/

#header{
	float: left;
	display: inline;
	width: 100%;
  background-color: #313b3d;	
}


/*--------.menu_area-------- */
.menu_area{
  float: left;
  display: inline;
  width: 100%;
}
.navbar-brandimg
{
	margin-top: 25px;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px; 
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: transparent;
  color: #fff;
}
.navbar-default {
  background-color: #313b3d;
  border-color: transparent;
}
#navbar{overflow-x: hidden;}
.navbar-default .navbar-nav > li > a {
  margin-top: 30px;
  margin-bottom: 20px;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;;
	margin-bottom:5px;
  color: #fff;
   font-size: 14px;
  border-radius: 5px;
  padding: 5px 25px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: rgb(0, 183, 176);
  border-radius: 65px;
  color:white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: rgb(0, 183, 176);
   padding: 5px 12px;
   border-radius: 65px;
   color:white;
}
.navbar-nav > li > .dropdown-menu {
	margin-top:15px;
	 background-color: #313b3d; 
   padding: 5px 12px;
  color:white; 
}
.navbar-nav > li > .dropdown-menu:before { 
  margin-top: -5px;
  border-bottom: 20px solid #48575a; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 25px;
  top: -15px;
  width: 0;
}
.navbar-nav > li > .dropdown-menu li a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  color: #fff;
  display: block;  
  opacity: 0.8;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav > li > .dropdown-menu > li:last-child a {
  border-bottom: medium none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color:transparent;  
  text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;  
    color:white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
    color:white;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color:white;
  background-color: transparent;
}
/*--------------------*/
/* HOME SLIDER SECTION */
/*--------------------*/

#slider{
  float: left;
  display: inline;
  width: 100%;
}
.slider_area {
  background-color: #ccc;
  display: inline;
  float: left;
  margin-top: 60px;
  width: 100%;
}
.slider_caption {
  left: 5%;
  position: absolute;
  top: 25%;
  width: 50%;
}
.slider_right_caption{
  left: 38%;
}
.slider_caption h2 {
  color: #fff;
  font-size: 33px;
  padding: 8px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.slider_caption p {
  color: #fff;
  font-family: "Varela",sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}
.slider_btn {  
  background: rgba(49, 59, 61, 0.6);
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-family: "Varela",sans-serif;
  margin-top: 10px;
  padding: 9px 15px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;  
}
.slider_btn:hover,.slider_btn:focus{   
  text-decoration: none;
  outline: none;
}
.next,.prev{
  display: none !important;  
}
.slider_area:hover .next{
  display: block !important;
}
.slider_area:hover .prev{
  display: block !important;
}

/*--------------------*/
/* HOME ABOUT US */
/*--------------------*/

#aboutUs {
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;
}
.aboutus_area {
  display: inline;
  float: left;
  padding-right: 30px;
  width: 100%;
}
.aboutus_area p {
  line-height: 22px;
}
.titile{
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.titile:after{
  content: "";
  position: absolute;
  left: 0;  
  bottom: 0px;
  width: 50px;
  height: 5px;  
}
.newsfeed_area{
  float: left;
  display: inline;
  width: 100%;
  padding-left: 15px;
}
.feed_tabs li{margin-bottom: -2px;}

.feed_tabs li a {
  font-family: "Varela",sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.feed_tabs li a:hover{
  color: #fff;  
}
.news_tab {
  margin-top: 15px;
}
.news_tab li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.news_tab li:last-child{
  border-bottom: none;
}
.news_img {
  display: block;
  height: 70px;
  width: 100px;
}
.news_img>img{
  width: 100%;
  height: 100%;
}
.news_tab .media-body > a {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.feed_date{
  color: #ccc;
  font-style: italic;
}
.see_all {
  border-bottom: 2px solid #ccc;
  float: right;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.see_all:hover, .see_all:focus{  
  text-decoration: none;
  outline: none;  
}
.single_news_pane{
  float: left;
  display: inline;
  width: 100%;
}
.single_notice_pane{
  float: left;
  display: inline;
  width: 100%;
}
.single_notice_pane .slick-prev {  
  background-image: url("img/nav-prev.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.single_notice_pane .slick-next {  
  background-image: url("img/nav-next.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.single_notice_pane .slick-prev, .single_notice_pane .slick-next { 
  top: 100%;  
}
.single_notice_pane .slick-prev{
  left: 87%;
}

/*--------------------*/
/* FOOTER SECTION */
/*--------------------*/

#footer{
  float: left;
  display: inline;
  width: 100%;
}
.footer_top{
  float: left;
  display: inline;
  width: 100%;
  background-color: #1e2223;
  padding: 60px 0px;
}
.single_footer_widget {
  display: inline;
  float: left;
  padding: 0 10px;
  width: 100%;
}
.single_footer_widget > h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.single_footer_widget>p{
  color: #fff;
}
.footer_widget_nav li a {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}
.footer_social li a {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 22px;
  padding: 0 10px;
}
.footer_bottom{
  float: left;
  display: inline;
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px 0px;
}
.footer_bootomLeft{
  float: left;
  display: inline;
  width: 100%;
}
.footer_bootomLeft>p,.footer_bootomRight>p{margin-bottom: 0px;}

.footer_bootomRight{
  float: left;
  display: inline;
  width: 100%;
  text-align: right;
}

/*--------------------*/
/* COURSE ARCHIVE PAGE */
/*--------------------*/

#imgBanner {
  background-image: url("img/galleryhead.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline;
  float: left;
  height: 300px;
  margin-top: 77px;
  padding: 118px 0;
  text-align: center;
  width: 100%;
}
#imgBanner h2 {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#courseArchive{
  float: left;
  display: inline;
  width: 100%;
  background-color:white;
  padding: 60px 0px;
  min-height: 500px;
}
.courseArchive_content{
  float: left;
  display: inline;
  width: 100%;
}
.courseArchive_content .single_course {
  margin-bottom: 30px;
}
.pagination li a{
  -webkit-transition: all 0.5s;
  -mz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.pagination li a:hover,.pagination li a:focus{
  color: #fff;
}
.courseArchive_sidebar{
  background-color: #fff;
  float: left;
  display: inline;
  width: 100%; 
  padding: 12px;
  min-height: 500px;
}
.single_sidebar{
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 15px;  
}
.single_sidebar > h2 {
  color: #fff;
  font-size: 26px;
  padding: 0 5px;
  margin-bottom: 15px;
}
.single_sidebar > h2 span{
  font-size: 24px;
}
.single_sidebar .news_tab .media-body > a {
  margin-top: 0;
}
.single_sidebar > ul > li>a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.single_sidebar > ul > li>a:hover,.single_sidebar > ul > li>a:focus{
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* COURSE SINGLE PAGE */
/*--------------------*/

.singlecourse_ferimg_area{
  float: left;
  display: inline;
  width: 100%;
  background-color: #ffffff;
}
.singlecourse_ferimg{
  float: left;
  display: inline;
  width: 100%;
}
.singlecourse_ferimg > img {
  max-height: 350px;
  width: 100%;
}
.singlecourse_bottom {
  display: inline;
  float: left;
  padding: 15px;
  width: 100%;
}
.singlecourse_bottom > h2 {
  display: inline-block;
  float: left;
  font-size: 18px;
  margin-right: 20px;
  padding-bottom: 0px;
}
.singlecourse_author{
  float: left;
  display: inline-block;
  color: #c0c1c1;
  font-size: 15px;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;  
}
.singlecourse_author:hover{
  color: #000;
}
.singlecourse_author img{
  border-radius: 50%;
  height: 40px;
  /*margin-bottom: 25px;*/
  margin-right: 15px;
  width: 40px;
}
.singlecourse_price {
  display: inline-block;
  float: right;
  font-size: 25px;
  margin-top: 4px;
}
.single_course_content {
  display: inline;
  float: left;
  margin-top: 35px;
  width: 100%;
}
.single_course_content > h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.single_course_content > p {
  font-size: 15px;
  line-height: 1.9em;
}
.course_table{
  margin-top: 50px;
  background-color: #fff;
}
.course_table thead{
  color: #fff;
}
.course_table thead>tr>th{
  color: #ffffff;
  text-transform: uppercase;
}
.related_course{
  float: left;
  display: inline;
  width: 100%;
  margin-top: 30px;
}
.related_course > h2 {
  background-color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 5px;
  text-transform: uppercase;
}

/*--------------------*/
/* BLOG PAGE */
/*--------------------*/

.single_blog_archive {
  background-color: #fff;
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 15px;
  width: 100%;
}
.blogimg_container {
    width:100%;    
    overflow: hidden;
    margin-bottom: 8px;
}
.blog_img img {
  height: 100%;
  width:100%;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  transform: translate3d(0px, 0px, 0px);
}
.blog_img:hover img {
  opacity: 0.8;
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}
.blog_title {
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 0 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_title a:hover{
  text-decoration: none;
  outline: none;
}
.blog_commentbox{
  float: left;
  display: inline;
  width: 100%;
  padding: 0px 15px;
}
.blog_commentbox > p {
  color: #888;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  margin-right: 5px;
  border-right: 2px solid #ccc;
  padding-right: 5px;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_commentbox :last-child{
  border-right: none;
}
.blog_commentbox > p i{
  margin-right: 5px;
}
.blog_commentbox>a{
  color: #888;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_commentbox>a i{
  margin-right: 5px;
}
.blog_summary {
  color: #9b9b9b;
  line-height: 18px;
  margin: 10px 5px 10px 0;
  padding: 0 15px;
}
.blog_readmore{
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #9b9b9b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 15px;
  float: right;
}
.blog_readmore:hover,.blog_readmore:focus{
  text-decoration: none;
  outline: none;
}
.blog_readmore::before,
.blog_readmore::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.blog_readmore::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.blog_readmore::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.blog_readmore:hover::before,
.blog_readmore:hover::after,
.blog_readmore:focus::before,
.blog_readmore:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.tags_nav li{
  display: inline-block;
}
.tags_nav li a {
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  color: #666;
}
.tags_nav li a:hover,.tags_nav li a:focus{
  color: #ffffff !important;
}
.tags_nav li a>i{
  margin-right: 5px;
}
.single_blog{
  float: left;
  display: inline;
  width: 100%;
}
.single_blog .blog_title{
  padding-left: 0px;
}
.single_blog .blog_commentbox{
  padding-left: 0px;
}
.single_blog p {
  line-height: 25px;
  font-size: 15px;
}
.single_blog blockquote{
  border-left: none;
}
.single_blog blockquote>span{
  font-size: 25px;
}
.single_blog ul li {
  line-height: 25px;
}
.single_blog ul li > span {
  margin-right: 5px;
}
.single_blog_prevnext {
  display: inline;
  float: left;
  margin-top: 40px;
  width: 100%;
}
.prev_post{
  display: inline-block;
  float: left;
  padding: 8px 16px;
  color: #ccc;
  border:2px solid #ccc;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.prev_post:hover{
  text-decoration: none;
  outline: none;
}
.prev_post>i{
  font-size: 20px;
  margin-right: 5px;
}
.next_post{
  display: inline-block;
  float: right;
  padding: 8px 16px;
  color: #ccc;
  border:2px solid #ccc;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.next_post:hover{
  text-decoration: none;
  outline: none;
}
.next_post>i{
  font-size: 20px;
  margin-left: 5px;
}
.related_post{
  float: left;
  display: inline;
  width: 100%;
  margin-top: 40px;
}
.related_post > h2 {
  background-color: #fff;
  border-left: 5px solid;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 10px;
}

/*--------------------*/
/* EVENTS */
/*--------------------*/

.events_slider_area{
  float: left;
  display: inline;
  width: 100%;
}
.events_slider{
  float: left;
  display: inline;
  width: 100%;
}
.events_slider .slick-prev {  
  background-image: url("img/nav-prev.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.events_slider .slick-next {  
  background-image: url("img/nav-next.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.events_slider .slick-prev,.events_slider .slick-next {
  height: 45px;
}
.events_slider .slick-slide img {
  display: block;
  width: 100%;
}

/*--------------------*/
/* GALLERY */
/*--------------------*/

#gallery {
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;
}
.gallery_area{
  float: left;
  display: inline;
  width: 100%;
}
.gallery_area a {  
  display: inline-block;
  height: 200px;
  margin: 0 9px 18px;
  width: 23%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;  
}
.gallery_area a>img{
  width: 100%;
  height: 100%;  
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.gallery_area a:hover .gallery_img{
  transform: scale(2.2);
}
.view_btn {
  display: none;
  left: -100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;  
}
.gallery_area a:hover .view_btn{
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  left:0;
  padding-top: 34%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.tos-caption-0{ 
  font-family: 'Varela', sans-serif;
  font-size: 22px;
}

/*--------------------*/
/* CONTACT */
/*--------------------*/

#contact{
  float: left;
  display: inline;
  width: 100%;
  background-color: #f6f6f6;
  padding: 60px 0;
}
.contact_form{
  float: left;
  display: inline;
  width: 100%;
}
 .wp-form-control {
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding: 10px 12px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;  
  width: 100%;  
}
.wpcf7-text{
  height: 45px;
}
.wpcf7-email{
  height: 45px;
}
.wpcf7-textarea {
  height: 200px;
  padding: 15px;
}
.wpcf7-submit {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}
.contact_address{
  float: left;
  display: inline;
  width: 100%;
}
.contact_address>h3{ 
  margin-top: 0px;
}
.address_group{
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 30px;
}
.address_group .footer_social li a{
  color: #ccc;
}
#googleMap{
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: -6px;
}



/*THEME STYLE SWITCHER*/

.theme_style_switcher {
	background-color: rgba(0, 0, 0, 0.75);
	border-bottom-right-radius: 4px;
	height: auto;
	left: -250px;
	padding: 15px;
	position: fixed;
	top: 140px;
	width: 250px;
	z-index: 1000;
	text-align: center;
	-webkit-transition: all 0.35s ease 0s;
	-o-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}
.theme_style_switcher a {
  display: inline-block;
  float: none;
  height: 40px;
  margin: 5px;
  width: 40px;
}
.theme_style_switcher > h4 {
  color: #fff;
  padding: 15px 10px;
  text-transform: uppercase;
}
.style-switch-button {
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  height: 50px;
  left:250px;
  text-align:left;
  position: absolute;
  top: 50px;
  width: 50px;
  z-index: 1000;
}
.style-switch-active{
	left: 0;
}
.style-switch-button i {
  color: #fff;
  font-size: 20px;
  left: 15px;
  line-height: 1;
  position: relative;
  top: 15px;  
}
#default{
  background-color: #78adc9;
}
#yellow{
  background-color: #ffd133;
}
#red{
  background-color: #ee4532;
}
#bridge{
  background-color: #a5d549;
}
#green{
  background-color: #3fc35f;
}
#liteBlue{
 background-color: #37c6f5; 
}
#orange{
  background-color: #ff871c;
}
#pink{
  background-color: #ff2851;
}
#darkRed{
  background-color: #970001;
}
#purple{
  background-color: #c762cb;
}

/* --- blog --- */
#blog {
  margin-top:150px;
}

a.btn-primary:hover {
	background-color: #313b3d;
	color:white;
}

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
  color:#333;
}

.widget .entry-meta span a:hover {
  color:#1BBD36;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#1BBD36;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #1BBD36;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #1BBD36;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

ul.blog_archieve li a:hover{
  color:#1BBD36;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}
.readmore :hover{
	background-color: #313b3d;
	color:white;
}
.readmore{
	background-color:rgb(0,183,176);
  margin-top: 0;
}

.blog .blog-item .blog-content h4 {
  margin-bottom: 40px;
  font-weight: 600
 }

.blog .blog-item .blog-content p {
  font-size: 15px;
}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #313b3d;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}
#publish_date:hover {
  background:  rgb(0,183,176);
}
.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
  color: black;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #313b3d !important;
  border-color: #313b3d !important;
  color: white;
}

.search_box {
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:10px;
  outline: 0 none;
}

ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#1BBD36;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

.post
{ 
  margin-top: 20px;
  margin-left: 450px;
  font-size: 25px;
  width: 140px;
  padding: 8px 40px;
  background:rgb(0,183,176);
  color: white;
  border-radius: 4px;
  border:none;
}
.post:hover
{
	background-color: #313b3d;
   width:150px;
  	-webkit-transition: width 1s; /* Safari */
   transition: width 1s;
}

.submit
{ 
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  padding: 8px 20px;
  background: #1BBD36;
  color: #fff;
  border-radius: 4px;
  border:none;
}
.submit:hover
{  
  background: brown;
}




/*======================///////////////
			start responsive style
=====================///////////////////////*/

@media(max-width:1199px ){
  .slider_caption {width: 60%;}
  .slider_caption h2 {font-size: 30px;}
  .slider_right_caption {left: 35%;}
  .singCourse_author > p {font-size: 15px;}
  .side_add{display: block;width: 100%;}
  .side_add>img{width: 100%;}
  .gallery_area a {width: 22.5%;}
}
  
@media(max-width:991px ){
  .navbar-default .navbar-brand {font-size: 18px;}
  .navbar-default .navbar-nav > li > a {font-size: 12px;padding: 30px 9px;}
  .navbar-nav > li > .dropdown-menu li a {font-size: 12px;}
  .navbar-brand{width: 160px;}
  .navbar-brand img{max-width: 100%;}
  .slider_caption {width: 80%;}
  .slider_right_caption {left: 15%;}
  .course_nav { padding-left: 15px;}
  .course_nav .slick-prev {left: -20px;}
  .singCourse_title {font-size: 18px;}
  .singCourse_author > p {font-size: 10px;}
  .single_footer_widget > h3 {font-size: 17px;}
  .single_sidebar > h2 {font-size: 20px;}
  .news_tab .media-body > a {font-size: 12px;}
  .gallery_area a {width: 30.3%;} 
  
}

@media(max-width:767px ){
.navbar-default .navbar-nav > li > a {padding: 10px 20px;}
.navbar-nav > li > .dropdown-menu {left: 15px;}	
.navbar-nav > li > .dropdown-menu:before {border-left: 10px solid transparent;border-right: 10px solid transparent;right: 65%;}
.navbar-toggle{margin-top: 15px;}
.navbar-default .navbar-brand {margin-bottom: 8px;margin-top: 8px;}
.navbar-nav > li > .dropdown-menu:before {display: none;}
.slider_caption {width: 90%;}
.slider_right_caption {left: 5%;}
.slider_caption h2 {font-size: 25px;line-height: 35px;}
.slider_area {margin-top: 66px;}
.aboutus_area {padding-right: 0px;margin-bottom: 30px;}
.single_whyus_top {margin-bottom: 30px;}
.single_skill {margin-bottom: 30px;}
.single_stsTestimonial { margin-bottom: 30px;}
.footer_bootomLeft {margin-bottom: 10px;text-align: center;}
.footer_bootomRight {text-align: center;}
.single_footer_widget {text-align: center;}
.footer_social{text-align: center;}
.footer_social li {display: inline-block;}
#imgBanner {margin-top: 65px;}
#imgBanner h2 {font-size: 50px;}
.courseArchive_content {margin-bottom: 65px;}
.gallery_area a {width: 28.5%;}
.contact_address {margin-top: 50px;text-align: center;}

}

@media(max-width:480px ){	
  .slider_right_caption {top: 15%;}
	.slider_caption h2 {font-size: 20px;line-height: 30px;}
  .slider_caption p { font-size: 13px;}
  .slider_btn {font-size: 13px;padding: 5px 10px;}
  .error_page_content h1 {font-size: 100px;}
  #imgBanner h2 {font-size: 40px;}
  #imgBanner {height: 200px;padding: 80px 0;}
  .gallery_area a {width: 100%;margin-right: 0;margin-left: 0;height: 250px;}
}

@media(max-width:360px ){
  .error_page_content h1 {font-size: 70px;}
  .error_page_content h2 {font-size: 40px;}
  .error_page_content p {font-size: 17px;}
  .error_page_content h1:after, .error_page_content h1:before {height: 15px;width: 15px;}
  .error_page_content h1:after {right: -30px;}
  .error_page_content h1:before {left: -30px;}
  .feed_tabs li a {font-size: 14px;}
  #imgBanner h2 {font-size: 30px;}
  .blog_title {font-size: 20px;line-height: 30px;}
  .gallery_area a {width: 100%;margin-right: 0;margin-left: 0;height: 200px;}

}
@media(max-width:320px ){
}
